<div class="jumbotron">
    <div class="row">
        <h1 style="text-align: center;">Hello <img src="http://www.shootfactory.co.uk/blog/wp-content/uploads/2012/06/racing_post_logo.jpg"/></h1>
    </div>
</div>
